<div id="registerForm">
	<form role="form" class="transparentForm">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>Sorry. Something wrong?</h3>
				<hr class="colorgraph">
				<p></p>
				<p></p>
				<p>&nbsp;</p>
				<div class="row">
					<div class="col-xs-4 col-md-4"></div>
					<div class="col-xs-4 col-md-4">
						<a href="/" class="btn btn-info btn-block btn-lg">Back to Dashboard</a>
					</div>
					<div class="col-xs-4 col-md-4">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>