<div class="row bs-wizard" style="border-bottom:0;">
	<div class="col-xs-3 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">Step 1</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="/" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Find available domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step complete">
		<div class="text-center bs-wizard-stepnum">Step 2</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Register your domain.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
		<div class="text-center bs-wizard-stepnum">Step 3</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center">Confirm your information.</div>
	</div>

	<div class="col-xs-3 bs-wizard-step complete"><!-- active -->
		<div class="text-center bs-wizard-stepnum">Step 4</div>
		<div class="progress"><div class="progress-bar"></div></div>
		<a href="#" class="bs-wizard-dot"></a>
		<div class="bs-wizard-info text-center current"> Payment & Complete</div>
	</div>
</div>

<div id="registerForm">
	<form role="form" class="transparentForm">
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<h3>Thank you! You're successful registered <strong><a href="http://<%= @domain%>"><%= @domain%></a></strong></h3>
				<hr class="colorgraph">
				<p></p>
				<p>Your new domain should be connect to your classroom in the next few minutes. Thank you for your patience. <a href="http://<%= @domain%>">Click here</a> to check your classroom.</p>
				<p>&nbsp;</p>
			</div>
		</form>
	</div>
</div>