<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	Greetings,
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	Set up more information: <br>
	- username:  <%= @params.user_id%> <br>
	- password:  <%= @params.password%> <br>
</p>
<p style="font-size: 13px; color: #49595f; margin: 15px 0 15px 0; font-family: Arial, sans-serif;">
	<a href="https://dcc.securepaynet.net/default.aspx?prog_id=502392" target="_blank">https://dcc.securepaynet.net/default.aspx?prog_id=502392</a>
</p>